body {
  margin: 0;
  padding: 0;
  font-family: 'NAMU Pro';
  font-weight: 900;
 }

body, table, tr, td, th, div, h1, h2, input {
  font-size: 11pt; }

header {
  min-height: 30vh;
  display: flex; }
  header div {
    max-width: 60%;
    margin: auto;
    display: grid;
    justify-items: start; }
    @media (max-width: 800px) {
      header div {
        max-width: 90%; } }
  header h1 {
    font-size: 90px;
    font-family: 'NAMU 1930';
    letter-spacing: 1px;
    font-weight: normal;
    color: #094e5f;
    text-align: center;
    margin: 0; }
    @media (max-width: 800px) {
      header h1 {
        font-size: 40px; } }
  header h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #574144;
    text-align: center;
    font-weight: normal;
    margin: 0; }

h3 {
  font-size: 20px;
  color: #574144;
  line-height: 1.6;
  margin: 20px auto;
  font-weight: normal;
  width: 90%;
  max-width: 800px;
  text-align: center; }

#viz {
  display: grid;
  grid-template-columns: 60% 40%; }

#nav {
  width: 100%; }

#nav p {
  cursor: pointer;
  font-size: 22px;
  margin-left: 50px; }

#map-wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

/* full size */
.ctl {
  padding: 2px 10px 2px 10px;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: right; }

.title {
  font-size: 18pt;
  font-weight: bold; }

.src {
  font-size: 10pt; }

#scroll {
  position: relative;
  width: 100%;
  margin: 50px 0 50px auto;
  display: grid;
  grid-template-columns: 60% 40%; }
  @media (max-width: 812px) and (orientation: portrait) {
    #scroll {
      display: block; } }
  @media (max-width: 812px) and (orientation: landscape) {
    #scroll {
      display: grid;
      grid-template-columns: 50% 50%; } }
  #scroll .buttons {
    min-height: 30px;
    margin: 10px auto;
    max-width: max-content;
    width: auto;
    display: flex; }

.scroll__graphic {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100% !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  max-height: 100vh;
  z-index: 10; }
  @media (max-width: 812px) and (orientation: portrait) {
    .scroll__graphic {
      height: 50vh;
      top: 0;
      z-index: 1; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .scroll__graphic {
      grid-column: 1/2;
      grid-row: 1/2; } }
  .scroll__graphic canvas {
    width: 100%; }
  .scroll__graphic #scene {
    height: 1vh; }
  .scroll__graphic #chart {
    height: 100%;
    width: 100%; }

.scroll__text {
  grid-column: 2/3;
  width: 80%;
  margin: auto 0;
  grid-row: 1/2;
  z-index: 100; }
  @media (max-width: 812px) and (orientation: portrait) {
    .scroll__text {
      width: 96%;
      margin: auto; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .scroll__text {
      grid-column: 2/3;
      grid-row: 1/2; } }
  .scroll__text .step {
    margin-top: 80vh;
    margin-bottom: 80vh; }
    @media (max-width: 812px) and (orientation: portrait) {
      .scroll__text .step {
        min-height: max-content;
        margin-top: 20vh;
        margin-bottom: 0; } }
  .scroll__text .step#last {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 0; }
  .scroll__text .step div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    line-height: 1.6; }
    .scroll__text .step div p {
      font-size: 18px;
      font-family: 'NAMU Pro';
      color: #353774; }

.step_main {
  /* min-width: 90vw; */
  background-color: azure;
}

.leaflet-popup-content {
  height: max-content;
  max-height: 400px;
  overflow-y: auto; }

#diploma, #coat {
  width: 60%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 10000000; }
  @media (max-width: 812px) and (orientation: portrait) {
    #diploma, #coat {
      width: 80%;
      left: 10%; } }
  #diploma .flex-wrapper, #coat .flex-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #diploma .flex-wrapper img, #coat .flex-wrapper img {
      max-width: 400px;
      display: block;
      margin: auto;
      width: 100%; }
    #diploma .flex-wrapper p, #coat .flex-wrapper p {
      width: 90%;
      background-color: white;
      margin: auto;
      grid-column: 1/3; }

.plan {
  margin: auto;
  width: 60%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 10000000; }
  @media (max-width: 812px) and (orientation: portrait) {
    .plan {
      width: 80%;
      left: 10%; } }
  .plan .flex-wrapper {
    margin: auto;
    max-width: 500px; }
    .plan .flex-wrapper p {
      background-color: white;
      margin: auto; }
  .plan img {
    max-width: 500px;
    display: block;
    margin: auto;
    width: 100%; }

.show-pic {
  padding: 0 5px;
  background-color: #446d70;
  cursor: pointer;
  color: white; }

.highlight, .highlight-building, .highlight-officer, .highlight-kurchatova, .highlight-sixteen {
  padding: 0 5px;
  background-color: #094e5f;
  cursor: pointer;
  color: white; }

.pulse {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 1s infinite;
  opacity: 0.5; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0; }
  30% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  70% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }
a {
  text-decoration: none;
  border-bottom: 2px dashed #CE4066;
  padding-bottom: 2px;
  color: inherit; }

a:hover {
  color: #CE4066; }

#partners-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  align-items: flex-start;
  align-content: flex-start; }
  @media (max-width: 825px) {
    #partners-logo {
      width: 90%; } }
  #partners-logo p {
    font-size: 16px;
    line-height: 1.6;
    color: #574144; }
  #partners-logo h2 {
    margin: auto;
    text-align: center; }
  #partners-logo #logoContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around; }
    @media (max-width: 825px) and (orientation: landscape) {
      #partners-logo #logoContainer {
        display: flex;
        width: 90%; } }
    @media (max-width: 825px) and (orientation: portrait) {
      #partners-logo #logoContainer {
        width: 90%;
        display: block; } }
  #partners-logo img {
    max-width: 300px; }
    @media (max-width: 825px) and (orientation: portrait) {
      #partners-logo img {
        width: 90%;
        display: block; } }
  #partners-logo #vidro {
    width: 40%; }
    @media (max-width: 825px) and (orientation: portrait) {
      #partners-logo #vidro {
        width: 90%;
        margin: 20px auto; } }
  #partners-logo #sweden {
    width: 30%; }
    @media (max-width: 825px) and (orientation: portrait) {
      #partners-logo #sweden {
        width: 90%;
        margin: 20px auto; } }

